<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie List </title>

     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'css/test.css' %}">

</head>

</head>
<body>

        <div class="container" align="center">
      <div class="jumbotron">

          <h1 class="display-4">Movie Update Portal</h1>
          <hr class="my-4">
          <p>Continues MOVIE update .</p>
          <p class="lead">
          <a class="btn btn-primary btn-lg" href="/addmovieinfo" role="button">ADD MOVIE</a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a class="btn btn-primary btn-lg" href="/movieinfo" role="button">LIST OF MOVIE</a>

  </p>

      </div>
    </div>

</body>
</html>